<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
     normal,dangerous,signature, knownSigner
     -->
    <uses-permission android:name="five.nights.with.wassim.normal" />
    <uses-permission android:name="china_party_great_xi.dangerous" />
    <uses-permission android:name="china.dragon" />
    <uses-permission android:name="jason_statham.signature" />
    <uses-permission android:name="permission.knownSigner" />

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>

    <uses-permission android:name="china.xi" />
    <uses-permission android:name="us.bidon" />
    <uses-permission android:name="us.obema" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PermissionDemo"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PermissionDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

    <!--
    java.lang.SecurityException: Permission Denial: starting Intent { cmp=com.xxmrk888ytxx.app2/.JasonStatham } from ProcessRecord{323e554 25086:com.xxmrk888ytxx.permissiondemo/u0a398} (pid=25086, uid=10398) requires jason_statham.signature
     -->